.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b6b6b6;
  transition: 0.4s;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 0.3em;
  box-sizing: border-box;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.4em;
  width: 1.4em;
  border-radius: 8px;
  background-color: white;
  transition: transform 0.4s;
}

.switch input:checked + .slider {
  background-color: #21cc4c;
}

.switch input:checked + .slider .thumb {
  color: #21cc4c;
  transform: translateX(1.5em);
}
