.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--bg-secondary);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 0 8px 8px 0;
  box-shadow: 0px 0px 1px rgba(3, 7, 18, 0.1), 2px 0px 3px rgba(3, 7, 18, 0.1),
    4px 0px 6px rgba(3, 7, 18, 0.1), 6px 0px 10px rgba(3, 7, 18, 0.1),
    10px 0px 16px rgba(3, 7, 18, 0.1);

  overflow-y: auto;
  transform: translateX(-110%);
  transition: transform 0.3s ease;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  z-index: 1001;
}

.sidebar.open {
  transform: translateX(0);
  pointer-events: auto;
}

.toggleButton {
  position: fixed;
  top: 1rem;
  background-color: var(--button-bg);
  left: 0.5rem;
  border: none;
  color: var(--button-color);
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 1002;
}

.toggleButton:hover {
  background-color: var(--button-hover-bg);
}

.toggleButton img {
  width: 20px;
  height: 20px;
  display: block;
  filter: var(--menu-icon-filter);
  transition: filter 0.3s;
}

.stats {
  margin-bottom: 1rem;
}

.stats h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
  font-size: 13px;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.row:hover {
  background-color: var(--primary-light);
}

.row span:first-child {
  color: var(--text-color);
}

.row span:last-child {
  font-weight: 500;
  color: var(--primary-color);
}

.links {
  flex-grow: 1;
  margin-top: 1rem;
  overflow-y: auto;
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  padding: 0.25rem 0;
  border-bottom: 1px solid var(--border-color);
  font-size: 14px;
}

.links a {
  color: var(--text-color);
  text-decoration: none;
}

.links a:hover {
  color: var(--primary-color);
}

.bottom {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.bottom :global(button) {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  background-color: #f44336;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.bottom :global(button:hover) {
  background-color: #d32f2f;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 767px) {
  .sidebar {
    width: 70vw;
    border-radius: 0;
  }

  .links {
    max-height: calc(100vh - 200px);
  }

  .toggleButton {
    top: 1rem;
    left: 0.5rem;
  }
}
