.chartContainer {
  width: 100%;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: white;
  box-shadow: 0px 0px 0px rgba(3, 7, 18, 0.02), 0px 1px 1px rgba(3, 7, 18, 0.04),
    0px 3px 3px rgba(3, 7, 18, 0.06), 0px 5px 5px rgba(3, 7, 18, 0.08),
    0px 8px 8px rgba(3, 7, 18, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
}

.chartTitle {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

@media (max-width: 480px) {
  .chartContainer {
    padding: 0.5rem;
  }

  .chartTitle {
    font-size: 1rem;
  }
}
